<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Crity</title>
        <link rel="stylesheet" href="style.css" />
        <link rel="icon" href="/app/resources/img/favicon.ico" type="image/ico" />
    </head>

    <body>
        <div class="flex h-screen flex-col">
            <%= require("html-loader!./navbar/UiNavbar.html").default %>
            <div class="h-0 grow" id="screen-swapper"></div>
        </div>

        <!-- TODO: Figure out how to make webpack render templates recursively -->

        <%= require("html-loader!./common/ui/UiScrollbar.html").default %>

        <%= require("html-loader!./screens/login/ui/UiLoginScreen.html").default %>

        <%= require("html-loader!./screens/create-account/ui/UiCreateAccountScreen.html").default %>

        <%= require("html-loader!./screens/dashboard/ui/UiDashboardScreen.html").default %>
        <%= require("html-loader!./screens/dashboard/ui/UiPresentationItem.html").default %>

        <%= require("html-loader!./screens/editor/ui/UiEditorScreen.html").default %>
        <%= require("html-loader!./screens/editor/ui/comment-sidebar/UiComment.html").default %>
        <%= require("html-loader!./screens/editor/ui/thumbnail-sidebar/UiThumbnail.html").default %>
        <%= require("html-loader!./screens/editor/ui/timeline/UiTimelineVersion.html").default %>
    </body>
</html>
